<%# # TODO: Translate everything to portuguese as well %>
<ul>
     <% @movies.each do |movie| %>
         <li>
            <%=movie.name%>,
            rating <%=movie.rating%>,
            <%# TODO: Change date format in portuguese%>
            released at <%=movie.release_date.strftime("%m/%d/%y")%>,
            duration of <%=minutes_to_hours movie.duration%>,
            <%# TODO: Change number decimal separators from commas to dots in portuguese. See the documentation using zeal for this%>
            grossed <%=number_to_currency movie.total_gross, precision: 0%> in total
         </li>
         <p>
            <%=movie.description%>
         </p>
         <p>
            <%= did_it_flop movie%>
         </p>
     <% end %>
</ul>
