<section class="movie-details">
  <div class="image">
    <%=image_tag @movie.image_file_name%>
  </div>

  <div class="details">
    <h1> <%= @movie.title %> </h1>
    <h2>
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <%# TODO: Change date format in portuguese %>
    <%# duration of <%= minutes_to_hours @movie.duration %>
    <%# TODO: Change number decimal separators from commas to dots in portuguese. See the documentation using zeal for this %>

    <div class="review">
      <%= average_stars(@movie) %> &bull;
      <%= link_to pluralize(@movie.reviews.size, "review"), movie_reviews_path(@movie) %>
    </div>

    <p> <%= @movie.description %> </p>

    <table>
      <tr>
        <th>
          Director:
        </th>
        <td>
          <%= @movie.director%>
        </td>
      </tr>
      <tr>
        <th>
          Duration:
        </th>
        <td>
          <%= minutes_to_hours @movie.duration%>
        </td>
      </tr>
      <tr>
      <tr>
        <th>
          Release date:
        </th>
        <td>
          <%= @movie.released_on.strftime("%m/%d/%y") %>
        </td>
      </tr>
      <tr>
        <th>
          Gross worldwide:
        </th>
        <td>
          <%= number_to_currency(@movie.total_gross, precision: 0) %> <%= did_it_flop(@movie) %>
        </td>
      </tr>
    </table>
    
    <%= link_to "Write a review", new_movie_review_path(@movie), class: "review"%>
    
</section>


<% if current_user_admin?%>
  <section class="admin">
    <%= link_to "Edit Movie Details", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Delete Movie", @movie, class: "button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </section>
<% end %>
